<div id="card">
    <header>
        <div class="logo">
            <app-logo></app-logo>
        </div>
        <p>
            Create your account
        </p>
        <p>
            to continue to Fundoo
        </p>
    </header>
    <div id="form-field">
        <div class="first-name">
            <mat-form-field appearance="outline">
                <mat-label>First Name</mat-label>
                <input matInput placeholder="First Name" type="text">
            </mat-form-field>
        </div>
        <div class="last-name">
            <mat-form-field appearance="outline">
                <mat-label>Last Name</mat-label>
                <input matInput placeholder="Last Name" type="text">
            </mat-form-field>
        </div>
        <div class="username">
            <mat-form-field appearance="outline">
                <mat-label>Username</mat-label>
                <input matInput placeholder="Username" type="text">
            </mat-form-field>
        </div>
        <div class="email">
            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput placeholder="Email" type="text">
            </mat-form-field>
        </div>
        <div class="password">
            <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <input matInput placeholder="Password" type="password">
            </mat-form-field>
        </div>
        <div class="confirm">
            <mat-form-field appearance="outline">
                <mat-label>Confirm</mat-label>
                <input matInput placeholder="Confirm" type="password">
            </mat-form-field>
        </div>
    </div>
    <div id="btn-div">
        <button mat-button class="btn">Login</button>
        <button mat-button class="btn" type="submit">Register</button>
    </div>
</div>