<div id="main-div">
    <header>
        <div class="logo">
            <app-logo></app-logo>
        </div>
        <p>
            Sign in
        </p>
        <p>
            to continue to Fundoo
        </p>
    </header>
    <div id="login-div">
        <div class="username-div">
            <mat-form-field appearance="outline">
                <mat-label>Username</mat-label>
                <input matInput placeholder="username" [formControl]="username">
                <mat-error *ngIf="username.invalid">{{ validateUsername() }}</mat-error>
            </mat-form-field>
        </div>
        <div class="password-div">
            <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <input matInput placeholder="password" type="password" [formControl]="password">
                <mat-error *ngIf="password.invalid">{{ validatePassword() }}</mat-error>
            </mat-form-field>
            <div class="forgot-password-div">
                <a href="login">Forgot password?</a>
            </div>
        </div>
        <div class="btn-div">
            <button mat-button class="btn">Register</button>
            <button mat-button class="btn" type="submit" (click)="login()">Login</button>
        </div>
    </div>
</div>